# Project 1: SAT & ACT Analysis

The first markdown cell in a notebook is a great place to provide an overview of your entire project. You will likely want to at least state your

## Problem Statement

Define the problem you are finding answers for from the data given.

## Executive Summary

If you want to, it's great to use relative links to direct your audience to various sections of a notebook. **HERE'S A DEMONSTRATION WITH THE CURRENT SECTION HEADERS**:

### Contents:
- [2017 Data Import & Cleaning](#Data-Import-and-Cleaning)
- [2018 Data Import and Cleaning](#2018-Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-data)
- [Descriptive and Inferential Statistics](#Descriptive-and-Inferential-Statistics)
- [Outside Research](#Outside-Research)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

**If you combine your problem statement, executive summary, data dictionary, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.** Don't forget to cite your data sources!

*All libraries used should be added here*

In [66]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import pprint

## 2017 Data Import and Cleaning

#### 1. Read In SAT & ACT  Data

Read in the `sat_2017.csv` and `act_2017.csv` files and assign them to appropriately named pandas dataframes.

In [2]:
sat_2017 = pd.read_csv('../data/sat_2017.csv')

act_2017 = pd.read_csv('../data/act_2017.csv')

#### 2. Display Data

Print the first 10 rows of each dataframe to your jupyter notebook

In [3]:
sat_2017.head(10)

,State,Participation,Evidence-Based Reading and Writing,Math,Total
0,Alabama,5%,593,572,1165
1,Alaska,38%,547,533,1080
2,Arizona,30%,563,553,1116
3,Arkansas,3%,614,594,1208
4,California,53%,531,524,1055
5,Colorado,11%,606,595,1201
6,Connecticut,100%,530,512,1041
7,Delaware,100%,503,492,996
8,District of Columbia,100%,482,468,950
9,Florida,83%,520,497,1017

In [4]:
act_2017.head(10)

,State,Participation,English,Math,Reading,Science,Composite
0,National,60%,20.3,20.7,21.4,21.0,21.0
1,Alabama,100%,18.9,18.4,19.7,19.4,19.2
2,Alaska,65%,18.7,19.8,20.4,19.9,19.8
3,Arizona,62%,18.6,19.8,20.1,19.8,19.7
4,Arkansas,100%,18.9,19.0,19.7,19.5,19.4
5,California,31%,22.5,22.7,23.1,22.2,22.8
6,Colorado,100%,20.1,20.3,21.2,20.9,20.8
7,Connecticut,31%,25.5,24.6,25.6,24.6,25.2
8,Delaware,18%,24.1,23.4,24.8,23.6,24.1
9,District of Columbia,32%,24.4,23.5,24.9,23.5,24.2

#### 3. Verbally Describe Data

Take your time looking through the data and thoroughly describe the data in the markdown cell below.

In [5]:
sat_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   State                               51 non-null     object
 1   Participation                       51 non-null     object
 2   Evidence-Based Reading and Writing  51 non-null     int64
 3   Math                                51 non-null     int64
 4   Total                               51 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

In [6]:
sat_2017.describe()

       Evidence-Based Reading and Writing        Math        Total
count                           51.000000   51.000000    51.000000
mean                           569.117647  547.627451  1126.098039
std                             45.666901   84.909119    92.494812
min                            482.000000   52.000000   950.000000
25%                            533.500000  522.000000  1055.500000
50%                            559.000000  548.000000  1107.000000
75%                            613.000000  599.000000  1212.000000
max                            644.000000  651.000000  1295.000000

In [7]:
act_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     object
 2   English        52 non-null     float64
 3   Math           52 non-null     float64
 4   Reading        52 non-null     float64
 5   Science        52 non-null     float64
 6   Composite      52 non-null     object
dtypes: float64(4), object(3)
memory usage: 3.0+ KB

In [8]:
act_2017.describe()

         English       Math    Reading    Science
count  52.000000  52.000000  52.000000  52.000000
mean   20.919231  21.173077  22.001923  21.040385
std     2.332132   1.963602   2.048672   3.151113
min    16.300000  18.000000  18.100000   2.300000
25%    19.000000  19.400000  20.475000  19.900000
50%    20.550000  20.900000  21.700000  21.150000
75%    23.300000  23.100000  24.125000  22.525000
max    25.500000  25.300000  26.000000  24.900000

### Answer: 

- sat_2017 contains data on the state (object), participation rate (object), Evidence Based Reading and Writing scores (int), Math scores (int) and Total scores (int). 

- act_2017 contains data on the state (object), participation rate (object), English scores (float), Math scores (float), Reading scores (float), Science scores (float), Composite scores (object).

#### 4a. Does the data look complete?

### Answer: 

- For each data set, there are no empty cells for each column.

- However, there is 1 additional row for "National" scores for the ACT data set. This may need to be added for the SAT data set, or removed from the ACT data set.

#### 4b. Are there any obvious issues with the observations?

**What is the minimum *possible* value for each test/subtest? What is the maximum *possible* value?**

Consider comparing any questionable values to the sources of your data:
- [SAT](https://blog.collegevine.com/here-are-the-average-sat-scores-by-state/)
- [ACT](https://blog.prepscholar.com/act-scores-by-state-averages-highs-and-lows)

### Answer:

- The minimum average Math score for SAT 2017 appears to be erroneous, as it is an order of magnitude lower than all the other scores
- The mimimum average Science score for ACT 2017 also appears to be erroneous
- The data types are not consistent. Some are int, ,some are float, some are object.

In [9]:
sat_2017[['Evidence-Based Reading and Writing', 'Math', 'Total']].min()

Evidence-Based Reading and Writing    482
Math                                   52
Total                                 950
dtype: int64

In [10]:
sat_2017[['Evidence-Based Reading and Writing', 'Math', 'Total']].max()

Evidence-Based Reading and Writing     644
Math                                   651
Total                                 1295
dtype: int64

In [11]:
act_2017[['English', 'Math', 'Reading', 'Science', 'Composite']].min()

English      16.3
Math           18
Reading      18.1
Science       2.3
Composite    17.8
dtype: object

In [12]:
act_2017[['English', 'Math', 'Reading', 'Science', 'Composite']].max()

English      25.5
Math         25.3
Reading        26
Science      24.9
Composite    25.5
dtype: object

#### 4c. Fix any errors you identified

**The data is available** so there's no need to guess or calculate anything. If you didn't find any errors, continue to the next step.

In [13]:
# The total SAT score for Maryland is 1060. Thus the Math score should be 1060 - 536 = 524.

sat_2017.loc[20,'Math'] = 1060 - 536

In [14]:
sat_2017.loc[20,'Math']

524

In [15]:
# The composite ACT score for Maryland is 23.6. Thus the Science score should be (23.6 * 4) - 23.3 - 23.1 - 24.2 = 23.8.

act_2017.loc[21,'Science'] = round((23.6 * 4) - 23.3 - 23.1 - 24.2, 1)

In [16]:
act_2017.loc[21,'Science']

23.8

#### 5. What are your data types? 
Display the data types of each feature.

In [17]:
#code
sat_2017.dtypes

State                                 object
Participation                         object
Evidence-Based Reading and Writing     int64
Math                                   int64
Total                                  int64
dtype: object

In [18]:
act_2017.dtypes

State             object
Participation     object
English          float64
Math             float64
Reading          float64
Science          float64
Composite         object
dtype: object

What did you learn?
- Do any of them seem odd?  
- Which ones are not as they should be?

### Answer:

- For both data sets, participation rate should be stored as int instead of object.
- For act_2017, composite scores should be stored as float instead of object.

#### 6. Fix Incorrect Data Types
Based on what you discovered above, use appropriate methods to re-type incorrectly typed data.
- Define a function that will allow you to convert participation rates to an appropriate numeric type. Use `map` or `apply` to change these columns in each dataframe.

In [19]:
# Remove the '%' from the 'Participation' data and convert to integers

sat_2017['Participation'] = sat_2017['Participation'].map(lambda x: int(x.replace("%", "")))

act_2017['Participation'] = act_2017['Participation'].map(lambda x: int(x.replace("%", "")))

- Fix any individual values preventing other columns from being the appropriate type.

In [20]:
# Iterate through the 'Composite' column to find what is preventing it from being read as a float

for item in act_2017['Composite']:
    try:
        float(item)
    except:
        print(item)

20.2x

In [21]:
# Replace 20.2x with 20.2

act_2017['Composite'][51] = 20.2

<ipython-input-21-bd2dec9e7ee9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  act_2017['Composite'][51] = 20.2

In [22]:
# Convert the data in the 'Composite' column to float

act_2017['Composite'] = act_2017['Composite'].map(lambda x: float(x))

- Finish your data modifications by making sure the columns are now typed appropriately.

In [23]:
sat_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   State                               51 non-null     object
 1   Participation                       51 non-null     int64
 2   Evidence-Based Reading and Writing  51 non-null     int64
 3   Math                                51 non-null     int64
 4   Total                               51 non-null     int64
dtypes: int64(4), object(1)
memory usage: 2.1+ KB

In [24]:
act_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     int64
 2   English        52 non-null     float64
 3   Math           52 non-null     float64
 4   Reading        52 non-null     float64
 5   Science        52 non-null     float64
 6   Composite      52 non-null     float64
dtypes: float64(5), int64(1), object(1)
memory usage: 3.0+ KB

- Display the data types again to confirm they are correct.

In [25]:
sat_2017.dtypes

State                                 object
Participation                          int64
Evidence-Based Reading and Writing     int64
Math                                   int64
Total                                  int64
dtype: object

In [26]:
act_2017.dtypes

State             object
Participation      int64
English          float64
Math             float64
Reading          float64
Science          float64
Composite        float64
dtype: object

#### 7. Rename Columns
Change the names of the columns to more expressive names so that you can tell the difference the SAT columns and the ACT columns. Your solution should map all column names being changed at once (no repeated singular name-changes). **We will be combining these data with some of the data from 2018, and so you should name columns in an appropriate way**.

**Guidelines**:
- Column names should be all lowercase (you will thank yourself when you start pushing data to SQL later in the course)
- Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`.
- Column names should be unique and informative (the only feature that we actually share between dataframes is the state).

In [27]:
sat_2017.columns

Index(['State', 'Participation', 'Evidence-Based Reading and Writing', 'Math',
       'Total'],
      dtype='object')

In [28]:
act_2017.columns

Index(['State', 'Participation', 'English', 'Math', 'Reading', 'Science',
       'Composite'],
      dtype='object')

In [29]:
# Rename SAT and ACT columns

sat_2017.rename(columns = {'State':'state' ,
                           'Participation':'sat_participation_2017' ,
                           'Evidence-Based Reading and Writing':'sat_ebraw_2017' ,
                           'Math':'sat_math_2017' ,
                           'Total':'sat_total_2017'},
                inplace = True)

act_2017.rename(columns = {'State':'state' ,
                           'Participation':'act_participation_2017' ,
                           'English':'act_english_2017' ,
                           'Math':'act_math_2017' ,
                           'Reading':'act_reading_2017' ,
                           'Science':'act_science_2017' ,
                           'Composite':'act_composite_2017'},
                inplace = True)

#### 8. Create a data dictionary

Now that we've fixed our data, and given it appropriate names, let's create a [data dictionary](http://library.ucmerced.edu/node/10249). 

A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions. The more descriptive you can be, the more useful this document is.

Example of a Fictional Data Dictionary Entry: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**county_pop**|*integer*|2010 census|The population of the county (units in thousands, where 2.5 represents 2500 people).| 
|**per_poverty**|*float*|2010 census|The percent of the county over the age of 18 living below the 200% of official US poverty rate (units percent to two decimal places 98.10 means 98.1%)|

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

Provided is the skeleton for formatting a markdown table, with columns headers that will help you create a data dictionary to quickly summarize your data, as well as some examples. **This would be a great thing to copy and paste into your custom README for this project.**

|Feature|Type|Dataset|Description|
|---|---|---|---|
|state|object|ACT/SAT|State of origin of ACT/SAT scores|
|sat_participation_2017|int|SAT|SAT participation rate in % for each state in 2017|
|sat_ebraw_2017|int|SAT|Average SAT Evidence Based Reading and Writing scores for each state in 2017|
|sat_math_2017|int|SAT|Average SAT Math scores for each state in 2017|
|sat_total_2017|int|SAT|Average SAT Total scores for each state in 2017|
|act_participation_2017|int|ACT|ACT participation rate in % for each state in 2017|
|act_english_2017|float|ACT|Average ACT English scores for each state in 2017|
|act_math_2017|float|ACT|Average ACT Math scores for each state in 2017|
|act_reading_2017|float|ACT|Average ACT Reading scores for each state in 2017|
|act_science_2017|float|ACT|Average ACT Science scores for each state in 2017|
|act_composite_2017|float|ACT|Average ACT composite scores for each state in 2017|

#### 9. Drop unnecessary rows

One of our dataframes contains an extra row. Identify and remove this from the dataframe.

In [30]:
act_2017.drop(index = 0, inplace = True)

#### 10. Merge Dataframes

Join the 2017 ACT and SAT dataframes using the state in each dataframe as the key. Assign this to a new variable.

In [31]:
combined_2017 = sat_2017.merge(act_2017, on = 'state')

In [32]:
combined_2017.head()

,state,sat_participation_2017,sat_ebraw_2017,sat_math_2017,sat_total_2017,act_participation_2017,act_english_2017,act_math_2017,act_reading_2017,act_science_2017,act_composite_2017
0,Alabama,5,593,572,1165,100,18.9,18.4,19.7,19.4,19.2
1,Alaska,38,547,533,1080,65,18.7,19.8,20.4,19.9,19.8
2,Arizona,30,563,553,1116,62,18.6,19.8,20.1,19.8,19.7
3,Arkansas,3,614,594,1208,100,18.9,19.0,19.7,19.5,19.4
4,California,53,531,524,1055,31,22.5,22.7,23.1,22.2,22.8

#### 11. Save your cleaned, merged dataframe

Use a relative path to save out your data as `combined_2017.csv`.

In [33]:
combined_2017.to_csv('../data/combined_2017.csv')

## 2018 Data Import and Cleaning

Links to the 2018 ACT and SAT data are provided in the README. These data live in PDFs, and so you'll get to enjoy practicing some *manual* data collection. Save these data as a CSV in your `data` directory, and import, explore, and clean these data in the same way you did above. **Make sure you comment on your steps so it is clear *why* you are doing each process**.

In [34]:
sat_2018 = pd.read_csv('../data/sat_2018.csv')

act_2018 = pd.read_csv('../data/act_2018_updated.csv')

In [35]:
sat_2018.head()

        State Participation  Evidence-Based Reading and Writing  Math  Total
0     Alabama            6%                                 595   571   1166
1      Alaska           43%                                 562   544   1106
2     Arizona           29%                                 577   572   1149
3    Arkansas            5%                                 592   576   1169
4  California           60%                                 540   536   1076

In [36]:
sat_2018.dtypes

State                                 object
Participation                         object
Evidence-Based Reading and Writing     int64
Math                                   int64
Total                                  int64
dtype: object

In [37]:
# Remove the '%' from the 'Participation' data and convert to integers

sat_2018['Participation'] = sat_2018['Participation'].map(lambda x: int(x.replace("%", "")))

In [38]:
# Rename the columns for SAT data

sat_2018.rename(columns = {'State':'state' ,
                           'Participation':'sat_participation_2018' ,
                           'Evidence-Based Reading and Writing':'sat_ebraw_2018' ,
                           'Math':'sat_math_2018' ,
                           'Total':'sat_total_2018'},
                inplace = True)

In [39]:
act_2018.head()

,State,Percentage of Students Tested,Average Composite Score,Average English Score,Average Math Score,Average Reading Score,Average Science Score
0,Alabama,100,19.1,18.9,18.3,19.6,19.0
1,Alaska,33,20.8,19.8,20.6,21.6,20.7
2,Arizona,66,19.2,18.2,19.4,19.5,19.2
3,Arkansas,100,19.4,19.1,18.9,19.7,19.4
4,California,27,22.7,22.5,22.5,23.0,22.1

In [40]:
act_2018.dtypes

State                             object
Percentage of Students Tested      int64
Average Composite Score          float64
Average English Score            float64
Average Math Score               float64
Average Reading Score            float64
Average Science Score            float64
dtype: object

In [41]:
# Rename the columns for ACT data

act_2018.rename(columns = {'State':'state' ,
                           'Percentage of Students Tested':'act_participation_2018' ,
                           'Average English Score':'act_english_2018' ,
                           'Average Math Score':'act_math_2018' ,
                           'Average Reading Score':'act_reading_2018' ,
                           'Average Science Score':'act_science_2018' ,
                           'Average Composite Score':'act_composite_2018'},
                inplace = True)

In [42]:
combined_2018 = sat_2018.merge(act_2018, on = 'state')

In [43]:
combined_2018.to_csv('../data/combined_2018.csv')

In [44]:
combined_2018.head()

,state,sat_participation_2018,sat_ebraw_2018,sat_math_2018,sat_total_2018,act_participation_2018,act_composite_2018,act_english_2018,act_math_2018,act_reading_2018,act_science_2018
0,Alabama,6,595,571,1166,100,19.1,18.9,18.3,19.6,19.0
1,Alaska,43,562,544,1106,33,20.8,19.8,20.6,21.6,20.7
2,Arizona,29,577,572,1149,66,19.2,18.2,19.4,19.5,19.2
3,Arkansas,5,592,576,1169,100,19.4,19.1,18.9,19.7,19.4
4,California,60,540,536,1076,27,22.7,22.5,22.5,23.0,22.1

#### Combine your 2017 and 2018 data into a single dataframe
Joining on state names should work, assuming you formatted all your state names identically. Make sure none of your columns (other than state) have identical names. Do yourself a favor and decide if you're encoding participation rates as floats or integers and standardize this across your datasets.

Save the contents of this merged dataframe as `final.csv`.

**Use this combined dataframe for the remainder of the project**.

In [45]:
final = combined_2017.merge(combined_2018, on = 'state')

In [46]:
final.to_csv('../data/final.csv')

## Exploratory Data Analysis


### Summary Statistics
Transpose the output of pandas `describe` method to create a quick overview of each numeric feature.

In [62]:
final.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
sat_participation_2017,51.0,39.803922,35.276632,2.0,4.00,38.0,66.00,100.0
sat_ebraw_2017,51.0,569.117647,45.666901,482.0,533.50,559.0,613.00,644.0
sat_math_2017,51.0,556.882353,47.121395,468.0,523.50,548.0,599.00,651.0
sat_total_2017,51.0,1126.098039,92.494812,950.0,1055.50,1107.0,1212.00,1295.0
act_participation_2017,51.0,65.254902,32.140842,8.0,31.00,69.0,100.00,100.0
act_english_2017,51.0,20.931373,2.353677,16.3,19.00,20.7,23.30,25.5
act_math_2017,51.0,21.182353,1.981989,18.0,19.40,20.9,23.10,25.3
act_reading_2017,51.0,22.013725,2.067271,18.1,20.45,21.8,24.15,26.0
act_science_2017,51.0,21.462745,1.753392,18.2,19.95,21.3,23.20,24.9
act_composite_2017,51.0,21.519608,2.020695,17.8,19.80,21.4,23.60,25.5
sat_participation_2018,51.0,45.745098,37.314256,2.0,4.50,52.0,77.50,100.0
sat_ebraw_2018,51.0,563.686275,47.502627,480.0,534.50,552.0,610.50,643.0
sat_math_2018,51.0,556.235294,47.772623,480.0,522.50,544.0,593.50,655.0
sat_total_2018,51.0,1120.019608,94.155083,977.0,1057.50,1098.0,1204.00,1298.0
act_participation_2018,51.0,61.647059,34.080976,7.0,28.50,66.0,100.00,100.0
act_composite_2018,51.0,21.486275,2.106278,17.7,19.95,21.3,23.55,25.6
act_english_2018,51.0,20.988235,2.446356,16.6,19.10,20.2,23.70,26.0
act_math_2018,51.0,21.125490,2.035765,17.8,19.40,20.7,23.15,25.2
act_reading_2018,51.0,22.015686,2.167245,18.0,20.45,21.6,24.10,26.1
act_science_2018,51.0,21.345098,1.870114,17.9,19.85,21.1,23.05,24.9

#### Manually calculate standard deviation

$$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

- Write a function to calculate standard deviation using the formula above

In [48]:
# Calculate standard deviation given a data input
def calc_std(data):
    mean = data.mean()
    sum_of_squared_difference = 0
    for datum in data:
        squared_difference = (datum - mean) ** 2
        sum_of_squared_difference += squared_difference
    return (sum_of_squared_difference / len(data)) ** 0.5

- Use a **dictionary comprehension** to apply your standard deviation function to each numeric column in the dataframe.  **No loops**  
- Assign the output to variable `sd` as a dictionary where: 
    - Each column name is now a key 
    - That standard deviation of the column is the value 
     
*Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`

In [69]:
# Display standard deviations calculated using the formula above

sd = {title: calc_std(final[title]) for title in final.columns if title != 'state'}
pprint.pprint(sd)

{'act_composite_2017': 2.000786081581989,
 'act_composite_2018': 2.0855261815801147,
 'act_english_2017': 2.3304876369363363,
 'act_english_2018': 2.4222536143202795,
 'act_math_2017': 1.9624620273436781,
 'act_math_2018': 2.015707255555717,
 'act_participation_2017': 31.824175751231806,
 'act_participation_2018': 33.745194881997506,
 'act_reading_2017': 2.0469029314842646,
 'act_reading_2018': 2.145891884510421,
 'act_science_2017': 1.7361170088327353,
 'act_science_2018': 1.8516885484833543,
 'sat_ebraw_2017': 45.21697020437866,
 'sat_ebraw_2018': 47.03460978357609,
 'sat_math_2017': 46.65713364485503,
 'sat_math_2018': 47.30194550378352,
 'sat_participation_2017': 34.92907076664508,
 'sat_participation_2018': 36.946619223539415,
 'sat_total_2017': 91.58351056778743,
 'sat_total_2018': 93.22742384464433}

In [71]:
# Display standard deviations calculated using the Pandas describe method

pandas_sd = final.describe().transpose()['std']
print(pandas_sd)

sat_participation_2017    35.276632
sat_ebraw_2017            45.666901
sat_math_2017             47.121395
sat_total_2017            92.494812
act_participation_2017    32.140842
act_english_2017           2.353677
act_math_2017              1.981989
act_reading_2017           2.067271
act_science_2017           1.753392
act_composite_2017         2.020695
sat_participation_2018    37.314256
sat_ebraw_2018            47.502627
sat_math_2018             47.772623
sat_total_2018            94.155083
act_participation_2018    34.080976
act_composite_2018         2.106278
act_english_2018           2.446356
act_math_2018              2.035765
act_reading_2018           2.167245
act_science_2018           1.870114
Name: std, dtype: float64

In [72]:
# Display standard deviations calculated using the numpy.std method

numpy_sd = {title: np.std(final[title]) for title in final.columns if title != 'state'}
pprint.pprint(numpy_sd)

{'act_composite_2017': 2.000786081581989,
 'act_composite_2018': 2.0855261815801147,
 'act_english_2017': 2.3304876369363363,
 'act_english_2018': 2.4222536143202795,
 'act_math_2017': 1.9624620273436781,
 'act_math_2018': 2.015707255555717,
 'act_participation_2017': 31.824175751231806,
 'act_participation_2018': 33.745194881997506,
 'act_reading_2017': 2.0469029314842646,
 'act_reading_2018': 2.145891884510421,
 'act_science_2017': 1.7361170088327353,
 'act_science_2018': 1.8516885484833543,
 'sat_ebraw_2017': 45.21697020437866,
 'sat_ebraw_2018': 47.03460978357609,
 'sat_math_2017': 46.65713364485503,
 'sat_math_2018': 47.30194550378352,
 'sat_participation_2017': 34.92907076664508,
 'sat_participation_2018': 36.946619223539415,
 'sat_total_2017': 91.58351056778743,
 'sat_total_2018': 93.22742384464433}

Do your manually calculated standard deviations match up with the output from pandas `describe`? What about numpy's `std` method?

### Answer:

The manually calculated standard deviation and numpy's std method are equivalent. They use n in the denominator.

Pandas describe method uses n-1 in the denominator for the calculation of variance and standard deviation.

#### Investigate trends in the data
Using sorting and/or masking (along with the `.head` method to not print our entire dataframe), consider the following questions:

- Which states have the highest and lowest participation rates for the:
    - 2017 SAT?
    - 2018 SAT?
    - 2017 ACT?
    - 2018 ACT?
- Which states have the highest and lowest mean total/composite scores for the:
    - 2017 SAT?
    - 2018 SAT?
    - 2017 ACT?
    - 2018 ACT?
- Do any states with 100% participation on a given test have a rate change year-to-year?
- Do any states show have >50% participation on *both* tests either year?

Based on what you've just observed, have you identified any states that you're especially interested in? **Make a note of these and state *why* you think they're interesting**.

**You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

## SAT vs ACT participation rates by state

- Preference for taking SAT or ACT appears to vary by state
- States which have high participation rates for a specific test are likely to have high participation rates for that test the next year

In [53]:
# 2017 SAT participation rates
final[['state','sat_participation_2017']].sort_values(by = 'sat_participation_2017', ascending = False).head(10)

                   state  sat_participation_2017
8   District of Columbia                     100
22              Michigan                     100
6            Connecticut                     100
7               Delaware                     100
29         New Hampshire                      96
19                 Maine                      95
12                 Idaho                      93
9                Florida                      83
21         Massachusetts                      76
39          Rhode Island                      71

In [54]:
# 2018 SAT participation rates
final[['state','sat_participation_2018']].sort_values(by = 'sat_participation_2018', ascending = False).head(10)

                   state  sat_participation_2018
5               Colorado                     100
6            Connecticut                     100
7               Delaware                     100
22              Michigan                     100
12                 Idaho                     100
19                 Maine                      99
13              Illinois                      99
39          Rhode Island                      97
29         New Hampshire                      96
8   District of Columbia                      92

In [55]:
# 2017 ACT participation rates
final[['state','act_participation_2017']].sort_values(by = 'act_participation_2017', ascending = False).head(10)

             state  act_participation_2017
0          Alabama                     100
17        Kentucky                     100
49       Wisconsin                     100
44            Utah                     100
42       Tennessee                     100
40  South Carolina                     100
36        Oklahoma                     100
33  North Carolina                     100
28          Nevada                     100
26         Montana                     100

In [56]:
# 2018 ACT participation rates
final[['state','act_participation_2018']].sort_values(by = 'act_participation_2018', ascending = False).head(10)

             state  act_participation_2018
0          Alabama                     100
17        Kentucky                     100
49       Wisconsin                     100
44            Utah                     100
42       Tennessee                     100
40  South Carolina                     100
36        Oklahoma                     100
35            Ohio                     100
33  North Carolina                     100
28          Nevada                     100

## Visualize the data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers.

Some recommendations on plotting:
- Plots have titles
- Plots have axis labels
- Plots have appropriate tick labels
- All text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Plots are interpreted to aid understanding

There is such a thing as too many plots, and there are a *lot* of bad plots. You might make some! (But hopefully not with the guided prompts below).

#### Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features

Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).

*example*:
```python
sns.heatmap(df.corr())
```

Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).

#### Define a custom function to subplot histograms

We have data for two tests for two years. We only have composite (and not subtest scores) for the 2018 ACT. We should write a function that will take the names of 2+ columns and subplot histograms. While you can use pandas plotting or Seaborn here, matplotlib gives you greater control over all aspects of your plots.

[Helpful Link for Plotting Multiple Figures](https://matplotlib.org/users/pyplot_tutorial.html#working-with-multiple-figures-and-axes)

Here's some starter code:

In [57]:
def subplot_histograms(dataframe, list_of_columns, list_of_titles, list_of_xlabels):
    nrows = int(np.ceil(len(list_of_columns)/2)) # Makes sure you have enough rows
    fig, ax = plt.subplots(nrows=nrows, ncols=2) # You'll want to specify your figsize
    ax = ax.ravel() # Ravel turns a matrix into a vector, which is easier to iterate
    for i, column in enumerate(list_of_columns): # Gives us an index value to get into all our lists
        ax[i].hist(dataframe[column]) # feel free to add more settings
        # Set titles, labels, etc here for each subplot

#### Plot and interpret histograms 
For each of the following:
- Participation rates for SAT & ACT
- Math scores for SAT & ACT
- Reading/verbal scores for SAT & ACT

In [58]:
# Code

#### Plot and interpret scatter plots

For each of the following:
- SAT vs. ACT math scores for 2017
- SAT vs. ACT verbal/reading scores for 2017
- SAT vs. ACT total/composite scores for 2017
- Total scores for SAT 2017 vs. 2018
- Composite scores for ACT 2017 vs. 2018

Plot the two variables against each other using matplotlib or Seaborn

Your plots should show:
- Two clearly labeled axes
- A proper title
- Using colors and symbols that are clear and unmistakable

**Feel free to write a custom function, and subplot if you'd like.** Functions save both time and space.

In [59]:
# Code

#### Plot and interpret boxplots

For each numeric variable in the dataframe create a boxplot using Seaborn. Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.

Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).

Each boxplot should:
- Only include variables of a similar scale
- Have clear labels for each variable
- Have appropriate titles and labels

In [60]:
# Code

#### Feel free to do additional plots below
*(do research and choose your own chart types & variables)*

Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

#### (Optional): Using Tableau, create a choropleth map for each variable using a map of the US. 

Save this plot as an image file in an images directory, provide a relative path, and insert the image into notebook in markdown.

## Descriptive and Inferential Statistics

#### Summarizing Distributions

Above, we used pandas `describe` to provide quick summary statistics of our numeric columns. We also demonstrated many visual relationships.

As data scientists, having a complete understanding of data is imperative prior to modeling.

While we will continue to build our analytic tools, we know that measures of *central tendency*, *spread*, and *shape/skewness* provide a quick summary of distributions.

For each variable in your data, summarize the underlying distributions (in words & statistics)
 - Be thorough in your verbal description of these distributions.
 - Be sure to back up these summaries with statistics.

Answers:

#### We generally assuming that data we sample from a population will be normally distributed. Do we observe this trend?

Answer:

Does This Assumption Hold for:
    - Math
    - Reading
    - Rates
Explain your answers for each distribution and how you think this will affect estimates made from these data.

Answer:

#### Estimate Limits of Data

Suppose we only seek to understand the relationship between SAT and ACT participation rates in 2017. 

##### Does it make sense to conduct statistical inference given these data specifically? 

Why or why not?

*(think about granularity, aggregation, the relationships between populations size & rates...consider the actually populations these data describe in answering this question)*

Answer:

##### Is it appropriate to compare *these* specific SAT and ACT math scores? 

Why or why not?

Answer:

#### Statistical Evaluation of Distributions 

**If you feel it's appropriate**, using methods we discussed in class, run hypothesis tests to compare variables of interest in our dataset.

In [61]:
# Code:

## Outside Research

Based upon your observations, choose **three** states that demonstrate interesting trends in their SAT and/or ACT participation rates. Spend some time doing outside research on state policies that might influence these rates, and summarize your findings below. **Feel free to go back and create new plots that highlight these states of interest**. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. (Make sure that you cite your sources -- check with you local instructor for citation preferences).

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Choose one state with a lower participation rate and provide a suggestion for how the College Board might increase participation amongst graduating seniors in this state. Are there additional data you desire that would better inform your investigations?